*~
*.o
*.a
*.so
*.so.*
*.out
*.vec
*.gch
*.sav
*.profraw
*.profdata
*.creator
*.creator.*
*.config
*.cflags
*.cxxflags
*.files
*.includes
*.su
*.su.*
tests/formal-analysis/*
tests/formal-analysis
**/__pycache__/**
*.tar.gz
monocypher-*/
doc/html/
tests/vectors.h