// auto generated with tests/tis-ci-gen-config.sh
[
{ "name"          : "v_edDSA_pk - sparc_32"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "sparc_32"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - x86_32"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "x86_32"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - x86_16"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "x86_16"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - x86_win64"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "x86_win64"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - armeb_eabi"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "armeb_eabi"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - arm_eabi"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "arm_eabi"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - aarch64"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "aarch64"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - rv64ifdq"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "rv64ifdq"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - mips_64"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "mips_64"
, "main"          : "v_edDSA_pk"
},
{ "name"          : "v_edDSA_pk - ppc_64"
, "files"         :
  [ "src/monocypher.c"
  , "src/optional/monocypher-ed25519.c"
  , "tests/utils.c"
  , "tests/tis-ci.c"
  ]
, "cpp-extra-args": "-Isrc -Isrc/optional -Itests"
, "machdep"       : "ppc_64"
, "main"          : "v_edDSA_pk"
}
]
